@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC|Open+Sans&display=swap');

html {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  padding: 140px 0 100px;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Noto Serif SC', serif;
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -1.5px;
}
h2 {
  font-family: 'Noto Serif SC', serif;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -.5px;
}
h3 {
  font-family: 'Noto Serif SC', serif;
  font-size: 48px;
}
p {
  margin-bottom: 1em;
  font-size: 16px;
  letter-spacing: .5px
}

/*
  80 200 20 200 20 200 80
112
40
40
40
*/
.center {
  position: relative;
  width: 80vw;
  max-width: 800px;
  left: 50%;
  transform: translateX(-50%);
}

.pln-title {
  margin-left: -10%;
  width: 100%;
  line-height: 1.2;
}

.pln-meta {
  margin-top: 40px;
  width: 31.25%;
}

.page-enter-active, .page-leave-active {
  transition: opacity .1s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

hr {
  margin: 40px 0;
  opacity: .1;
}

img {
  width: 120%;
  margin-left: -10%;
  margin-top: 40px;
  background: #f4f4f4;
}

iframe {
  margin: 40px 0;
  width: 100%;
  background: #f4f4f4;
}

blockquote p {
  padding: 20px 0 20px 20px;
  font-style: italic;
  font-size: 24px;
  color: #646464;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  .center {
    width: 90vw;
  }
  .pln-title {
    margin-left: 0;
  }
  .pln-meta {
    width: 100%;
  }
  ol,
  ul {
    padding-left: 2em;
  }
}
